
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    overflow-y: scroll;
    min-height: 200vh;
}

header {
    background: #000000;
    padding-inline: 16px;
    padding-bottom: 70px;
}

/* configuração do nav-bar*/
nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding-top: 30vh;
    padding-bottom: 30vh;
    line-height: 2em;
    padding-left: 30px;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem {
    background-color: #141414;
    color: #fff;
    box-shadow: inset 6px 6px 13px 0px #000000;
}

section#img {
    background-image: url('../img/2023-09-19_12-24.png');
    background-position: center;
}

.logo {
    font-size: 48px;
    color: #fff;
    padding-top: 50px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none; /* tira as bolinhas da lista */
    padding-top: 50px;
}

.nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media ( max-width: 750px ) {

    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #404040;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list.active {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-list.active a {
        opacity: 1;
    }
    
    .nav-list.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav-list.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav-list.active .hamburger::after {
        transform: rotate(-135deg);
    }
}